.buttonStyle {
  background-color: #289234;
  border-radius: 25px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  border: none;
  outline: 0;
  padding: 10px 20px;
}

.buttonStyle:hover {
  background-color: rgb(77, 165, 85);
  color: white;
}
.buttonStyle:focus {
  background-color: rgb(28, 92, 34);
  color: white;
}

